.skilllist-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 17%;
  margin-right: 5%;
<<<<<<< HEAD
=======
  margin-bottom: 30px; 
}


h1 {
  text-decoration: underline;
  margin-bottom: 5px;
}

h3 {
  margin-top: 1px;
  margin-bottom: 5px;
}

input {
  display: flex;
  background-color: #eee; 
  border: 1px solid #ccc; 
  padding: 8px;
  width: 300px; 
  border-radius: 10px; 
  margin-bottom: 10px;
>>>>>>> 617b3f438f4dddf1ab501ed9bb3a2ae4e1a07683
}


.skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 19px; 
    list-style: none;
    padding: 0;
}
   
.skill-grid-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


.skill-grid-item button {
    display: inline-block; 
    margin-top: 10px;      
    padding: 6px 12px;     
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.skill-grid-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  transform: scale(1.02); 
}


.search {
  text-align: right; 
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* this ensures the modal stays on top of other elements */
}

.skill-grid-item button {
  margin-right: 5px;
}
