.skill-item {
    text-align: center;
    padding: 16px;

  }
   
  .skill-item img {
    border-radius: 50%;
    width:100px;
    height:auto;
    padding-right:0;
    margin-right:0;
  }
  

  .skill-item h2 {
    margin: 5px;
    padding: 5px;
}
