.skill-item {
    text-align: center;
  }
   
  .location-bubble {
    background-color: purple;
    color: white;
    border-radius: 12px;
    padding: 4px 8px;
    display: inline-block;
    margin-top: 8px;
  }
  
  .skill-item img {
    border-radius: 50%;
  }