.user-item {
    text-align: center;
  }
   
  .location-bubble {
    background-color: rgb(2, 2, 58);
    color: white;
    border-radius: 12px;
    padding: 4px 8px;
    display: inline-block;
    margin-top: 8px;
    
  }
  
  .skill-box {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
    display: inline-block;
  }
  
  .user-item img {
    border-radius: 50%;
    width:80px;
    height:auto;
    margin: 0px;
    padding:0px;
  }

  .user-item h2 {
    margin-left: 0px;
    padding-left:0px;
    margin-right: 0px;
    padding-right:0px;

  }


  h1 {
    text-decoration: underline;
    margin-bottom: 5px;
    }


    a:hover, a:visited, a:link, a:active
    {
        text-decoration: none;
        color:black;
    }
    
  